body{
background-color:  darkorange;
margin-top: 0px;
margin-right: 5px;
margin-bottom: 0px;
margin-left: 5px;
}
ul a{
color: darkorange;
text-decoration: none;
}
li{
display: inline-block;
height: 22px;
width: 100px;
padding: 12px;
text-align: center;
color: orange;
border-left: 5px solid darkorange;
border-right: 5px solid darkorange;
background-color: pink;
}
li:hover{
background-color: white;
border-style: none;
}
h1{
margin-left: 150px;
color: pink;
}
p{
color: white;
margin-left: 150px
}
img{
  margin-left: 150px
}
footer{
  background-color: darkorange;
  color: white;
  text-align: right;
  margin-top: 100%;
  padding: 5px;
}
table{
  color: white;
  margin-left: 150px;
}
td, th{
  padding: 2px 5px;
  background-color: darkorange;
}
input[type="text"], input[type="email"], textarea, select, button{
color: darkorange;
display: block;
margin: 15px 0px;
width: 400px;
box-sizing: border-box;
border-radius: 4px;
box-shadow: inset 2px 2px 5px darkorange;
}
textarea{
height: 200px;
background-color: darkorange;
color: white;
padding: 5px 4px;
}
button:active{
background-color: pink;
color: darkorange;
border-radius: 8px;
box-shadow: inset 2px 2px 5px green;
}
img{
  width: 25%;
}
